* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0e4e68;

}

 
.ball {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height:100px;
    background-color: #eb5a17;
    border-radius: 50%;
    animation: jump .2s infinite alternate ease-in-out;
}
img{
    width: 700px;
    height: 500px;
    line-height: 100%;
    background-size: cover;  
    border-radius: 20px;    
}


#img-ball{
    background-color: black;
    width: 100%;
    height: auto;
    border-radius: 50%;

    @keyframes jump {
        0% {
            transform: translateX(-50%) translateY(-50px);
        }
        100% {
            transform: translateX(-50%) translateY(-200px);
        }
    }


}

    /*PARA TELAS DE TABLET DE ORIENTAÇÃO VERTICAL*/
    @media screen and (max-width: 768px ){
        
        img{
            width: 600px;
            height: 600px;
        }}
        .ball{
            width: 30px;
            height: 30px;
        }

        @keyframes jump {
            0% {
                transform: translateX(-50%) translateY(-50px);
            }
            100% {
                transform: translateX(-50%) translateY(-200px);
            }
        }


        /*PARA DISPOSITIVOS DE TELA MÉDIA*/

    @media screen and (max-width: 610px) {
        img{
            max-width: 420px;
            width: 500px;
            height: 580px;
        }
        .ball{
            width: 25px;
            height: 25px
        }
    }

        @keyframes jump {
            0% {
                transform: translateX(-50%) translateY(-40px);
            }
            100% {
                transform: translateX(-70%) translateY(-200px);
            }
        }




        /*PARA DISPOSITIVOS DE TELA PEQUENA*/

        @media screen and (max-width: 425px){
            
            img{
                width: 300px;
                height: 85vh;
            }
            .ball{
                width: 20px;
                height: 20px;
                
            }
    
            @keyframes jump {
                0% {
                    transform: translateX(-50%) translateY(-30px);
                }
                100% {
                    transform: translateX(-50%) translateY(-150px);
                }
            }
        }  
    
    